# rust output
/target
**/*.rs.bk

# copied epicinium output
/bin
/tools

# output files
*.out
*.log

# local settings
/settings.json
/settings-*.json
/imgui.ini

# local notices
/server-notice.json

# private keys
/keys/*private*
!/keys/dummy_private.pem
