# rust output
/target
**/*.rs.bk

# copied epicinium output
/bin
/tools

# output files
*.out
*.log
*.log.gz

# local settings
/settings.json
/settings-*.json
/imgui.ini

# local notices
/server-notice.json

# private keys
/keys/*private*
!/keys/dummy_private.pem

# core dumps
/*core*

# local recordings
*.rec
/recordings/history.list

# local logrotate output
logs/.*.logrotate.status
logs/.*.logrotate.conf
